<h2>Contact</h2>

<div class="content-box">
  <div style="width: 100%; max-width: 420px; margin: 0 auto; text-align: center;">
    <p>For inquiries, please reach out to us at:</p>
    <p>Email: 
      <a href="mailto:josegomez.dev@gmail.com">josegomez.dev@gmail.com</a>   
    </p>
    <p>Follow us on social media:</p>
    <p>
      <a href="https://twitter.com/josegomezdev" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-twitter"></i> Twitter
      </a>
    </p>    
  </div>
</div>