<div class="content">
  <div class="content-box">
    <div style="width: 100%; max-width: 420px; margin: 0 auto; text-align: center;">
      <h1>BlockBeats 3.0</h1>
      <p>BlockBeats is a decentralized music platform that allows artists to share their music and connect with fans using blockchain technology.</p>
      <img style="width: 100%;" src="./../../assets/img/BLOCKBEATS.jpg" alt="BlockBeats Logo" class="logo">
    </div>

    <br/>
    <div class="content-box">
      <h2>Pending Stuff</h2>
      <ul>
        <li>Elias: Community Manager.</li>
        <li>Pame: Investigar sobre la inlcusividad dentro para acceder a la plataforma y sus funcionalidades.</li>
        <li>Richard: BlockBeats News</li>
      </ul>
    </div>
  </div>
</div>
